
table {
    margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;
    color:black;
}

th, td {
    padding: 0.5rem;
    padding-left: 1rem;
}

thead {
    background-color:#ddd;
}

table tr:nth-child(even) {
    background-color: #ddd;
}

.home-button {
    position: absolute;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    bottom: 0;
    left: 0;
}
header {
    padding-left: 1rem;
    padding-bottom: 1rem;
    color: white;
    background-color: black;
}

button {
    color: rgb(0, 0, 0);
    background-color: rgb(198, 198, 198);
    padding: 0.5rem;
    font-size: 16px;
    border-radius: 8px;
    border: none;
}

button:hover {
    color: deepskyblue;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(198, 198, 198);
    border-radius: 8px;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content button {
    border: none;
    border-radius:0px;
}

.dropdown:hover .dropdown-content {
    display: block;
} 

img {
    max-width: 200px;
    max-height: 200px;
}