body {
    background-color: rgb(255, 255, 255);
}

/* jumbotron color */
header {
    color: rgb(220, 220, 220);
    background-color: #000000;
}

header .container, .container-fluid {
    margin:0;
    padding: 0;
}

.supplemental-info {
    background-color: darkgray;
    color: black;
}

ul {
    list-style: none; 
    padding: 0.5rem;
    width: 100%;
    text-align: center;
}

li {
    display: inline; 
    margin-right: 3rem; 
}

img {
    max-width: 200px;
    max-height: 200px;
}

main {
    margin: 1rem 0rem;
}

.card {
    border-radius: 0px;
    border: 0px;
}

table {
    margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;
    color:black;
}

th, td {
    padding: 0.5rem;
    padding-left: 1rem;
}

thead {
    background-color:#ddd;
}

table tr:nth-child(even) {
    background-color: #ddd;
}

.home-button {
    position: absolute;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    bottom: 0;
    left: 0;
}