h1 {
    font-family: "Times New Roman", sans-serif;
    text-align: center;
    }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
body {
    margin: 0px 50px 50px 50px;
    padding: .5rem;
    font-family: "Times New Roman", Arial;
    background-color: lightgray;
  }
  section.column {
    flex: 1;
    padding: 1em;
  }
  div.player-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  div.player {
    flex: 0 0 250px;
    margin: .5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
  }
  div.player p {
    padding: 0.5rem 1rem;
  }
  div.player img {
    border-radius: 10px 10px 0 0;
  }
  div.overview-card {
    text-align: center;
  }
  section.navbar {
    text-align: right;
  }
  li {
    list-style: none;
  }
  ul.team-overview {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
